# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. JavaScript
5. C/C++

### Data Science Libraries
- NumPy
- Pandas
- Matplotlib

### Data Science Tools

| Category         | Tools           |
|------------------|-----------------|
| Data Manipulation| Pandas, SQL     |
| Data Visualization| Matplotlib, Seaborn |
| Machine Learning | Scikit-learn, TensorFlow |

## Arithmetic Expression Examples

In [11]:
# Multiply and Add Numbers
a = 5
b = 10
multiply_result = a * b
add_result = a + b

print("multiplication result : ", multiply_result)
print("addition result : ", add_result)

multiplication result :  50
addition result :  15

In [9]:
# Convert Minutes to Hours
minutes = 180
hours = minutes / 60
hours

3.0

## Objectives

- Understand the basics of markdown cells in Jupyter Notebook.
- Familiarize yourself with data science languages and their usage.
- Explore commonly used data science libraries and their functionalities.
- Learn about various data science tools and their applications.
- Perform arithmetic operations using Python.
- Convert minutes to hours using Python code.
- Gain hands-on experience in creating and executing code cells.
- Develop a better understanding of Jupyter Notebook and its capabilities.
- Enhance your skills in data analysis and visualization.
- Practice effective communication and presentation of findings.

**Author: Afrizal Meka Mulyana**